 .contact .main_form {
    padding-left: 40px;
padding-right: 250px;
padding-bottom: 40px;
padding-top: 39px;
background: #f0efef;
}  

.form-control {
    border: #fff solid 2px;
    font-size: 20px;
     border-radius: inherit;
    margin-bottom: 20px;
    padding: 13px 20px; 
    box-shadow: #ddd 0px 0px 11px 4px;
    font-family: poppins;
}
.form-control:focus {
    box-shadow: inherit;
    border: #fff solid 2px !important;
    box-shadow: #ddd 0px 0px 11px 4px;
}
.line a{
   text-decoration: none;
   font-size: 30px;
   display: block;
   /* padding-left: 100px; */
}
.image{
   padding-left: 100px;
   display: block;

}

.textarea {
    font-size: 20px;
    font-family: poppins;
   border: #fff solid 2px;
    margin-bottom: 20px;
    padding: 13px 20px;
    width: 70%;
    padding-top: 40px;
    box-shadow: #ddd 0px 0px 11px 4px;
} 

.send {
    font-family: poppins;
   
   margin: 0 auto;
   display: block;
   background: #000;
   color: #fff;
   max-width: 158px;
   padding: 10px 0px;
   width: 100%;
   font-size: 17px;
}

.send:hover {
    background: steelblue;
}

/** end map section **/

/** footer section **/

.footer {
   background: steelblue;
   padding-top: 90px;
}
ul.sociel {
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
   margin: 0 auto;
}
ul.sociel li {
   display: inline-block;
   padding:0px 10px;
   }

/* ul.sociel li a {
color: #fff;
width: 40px;
height: 40px;
float: left;
text-align: center;
line-height: 50px;
border-radius: 100%;
font-size: 18px;
} */


 /* ul.sociel li a:hover {color: #d2390a;}
.contact {
   margin-top: 90px;
} */

.contact h3 {
   color: #fff;
   font-weight: 500;
   font-size: 28px;
           line-height: 30px;
   padding-bottom: 30px;
   text-transform: uppercase;
}

.contact span {
   color: #fff;
   font-size: 17px;
   line-height: 27px;
}
 ul.lik {text-align: center; margin-top: 10px;}
ul.lik li {display: inline-block; }
ul.lik li a {
   color: #fff;
   font-size: 17px;
   line-height: 27px;
   padding: 0px 15px;
   text-decoration: none;
   text-transform: uppercase;
}

ul.lik li a:hover {
   color: black;
   text-decoration: none;
} 
.logo1 {
   margin-bottom: 10px;
}
/* .border1 {border-bottom: #ddd solid 1px;}
.new {text-align: center; margin-top: 40px;}
.new h3 {color: #fff; font-size:20px; display:inline-block; padding-right: 15px;}
.newtt p {color: #fff; text-align: center; margin-top: 35px;}
.newtetter {display: inline-block;}
.newtetter .tetter {
   width: 231px;
   padding: 7px 20px;
border-radius: inherit;
border: indianred} */

.submit {
background: #d2390a;
margin-left: -3px;
padding: 7px 26px;
color: #fff;
}
.submit:hover {background: steelblue;}

.copyright {
   background-color: steelblue;
   padding: 20px 0px;
   margin-top: 90px;
}

.copyright p {
   color: white;
   font-size: 20px;
   line-height: 22px;
   text-align: center;
   text-decoration: none;
}
.copyright a {
   color:white;
   text-decoration: none;
}
.copyright a:hover {
  color: #060606;
   text-decoration: none;
}
#map {
   height: 100%;
   min-height: 480px;
}
/** end footer section **/
/*---------------------------------------------------------------------
   ener page css
---------------------------------------------------------------------*/
.contact_page .contact {margin-top: 0px;}  
.contactus .title h2 {
   font-weight: bold;
   color: #fff;
font-weight: 500; 
   
}


.contactus {
    background-color: steelblue;
    padding: 50px 0px;
}
.contactus .title {
padding-bottom: 0px;   
text-align: center;
}

.brand_color .abouttitle h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    padding: 40px 0;
    font-weight: 500;
    text-align: center;
}


.about {padding: 90px 0;}
.about .aboutimg figure {margin: 0;}
.about .aboutimg figure img {width: 100%;}
.about .aboutimg h3 {
font-size: 45px;
line-height: 50px;
padding-top: 105px;
font-weight: 500;
}
.about .aboutimg p {color: #000; font-size: 17px; line-height: 23px; padding-top: 10px;}
.about .aboutimg a {
   max-width: 152px;
background: #000;
width: 100%;
display: inline-block;
text-align: center;
padding: 10px 0px;
color: #fff;
margin-top: 35px;
}
.about .aboutimg a:hover {
   background: steelblue;
   color: #000;
}







.blog  {margin-top: 90px;
margin-bottom: 60px;
}

.blog .news-box {
    background:#fff;
    box-shadow: #ddd 0px 0px 8px 4px;
    margin-bottom: 30px;
}
.blog .news-box figure {
    margin: 0;
}
.blog .news-box figure img {
    width: 100%; height: 350px; 
}
.blog .news-box h3 {
    font-size: 22px;
    line-height: 24px;
    color: #060606;
    font-weight: 500;
    padding: 20px 20px 4px 20px;
}
.blog .news-box span {
    color: steelblue;
    margin-left: 20px;
}
.blog .news-box p{
    color: #7b7a7a;
    font-size:16px;
    line-height: 23px;
    padding: 7px 20px 20px 20px;
}
